html{
    scroll-behavior: smooth ;
}

body{
    font-family: 'Chakra Petch', sans-serif;
    background-color: black;
}

.container {
    width: 960px;
    margin: 0 auto;
}

h1 {
    font-size: 50px;
}

nav {
    background-color: black;
    position: fixed;
    width: 100%;
}

nav .container , footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
}

nav a {
    color: #f5f6f7;
    text-decoration: none;
}

.nav-logo {
    font-weight: 800;
    font-size: 40px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 25%;
    font-size: 22px;
}

.nav-links a {
    transition: 0.5s all;
}

.nav-links a:hover {
    color:#C2DDF7;
    transform: scale(1.3);
}

.landing-page {
    width: 100vw;
    height: 100vh;
    background-image: url('ballon.jpg');
    background-position: center;
    background-size: cover;
}

.landing-page-shadow {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .4);
}

.landing-page-shadow .container {
    height: 100%;
    display: flex;
    align-items: center;
}

.landing-page h1 {
    margin-bottom: 40px; 
}

.landing-page-tekst {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 20%;
}

.landing-page-tekst h2 {
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 40px;
    text-align: justify;
}

.landing-page-tekst button {
    background: none;
    padding: 10px 22px;
    border: 3px solid #C2DDF7;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    color:#C2DDF7;
    font-size: 18px;
    font-weight: bold;
    transition: 1s all;;
    cursor: pointer;
}

.landing-page-tekst button:hover {
    background-color: #C2DDF7;
    color: black;
}

.offer {
    padding: 5% 0;
    background-color: black;
    color: white;
}

.offer h1 {
    margin-bottom: 40px;
}

.offer h2 {
    font-size: 24px;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}

.offer h3 {
    font-size: 24px;
    color: #1d1e1f;
    font-weight: 100;
}

.offer-list {
    display:flex;
    flex-wrap: wrap;
}

.offer-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    height: 120px;
    border: 1px dotted #C2DDF7;
    box-shadow: 0px 5px 5px rgba(169, 171, 172, 0.5);
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    color:rgb(0, 0, 0);
    margin-right: 4%;
    margin-bottom: 4%;
    flex-direction: column;
}

.offer-box:nth-of-type(3n) {
    margin-right: 0;
}
.offer-box-red {
    background-color: #FF6663;
}
.offer-box-orange{
    background-color: #FEB144;
}
.offer-box-yellow{
    background-color: #FDFD97;
}
.offer-box-green{
    background-color: #9EE09E;
}
.offer-box-aquamarine{
    background-color: #9ED1B7;
}
.offer-box-blue{
    background-color: #81b8ce;
}
.offer-box-navy{
    background-color: #5657ca;
}
.offer-box-violet{
    background-color: #83517f;
}
.offer-box-pink{
    background-color: #e09cdc;
}

footer {
    background-color: #F1F8FF;
    border-top-left-radius: 60px;
    text-align: center;
}

footer a {
    color: black;
    text-decoration: none;
    padding: 5px;
}

footer p {
    color: #1d1e1f;
    margin-top: 10px;
    text-decoration: none;
}

/*footer .container  up*/

.footer-name {
    font-size: 30px;
    font-weight: 600;
}

.footer-sm {
    width: 180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-sm img{
    height: 40px;
    transition: 1s all;
    cursor: pointer;
}

.footer-sm img:hover {
    transform: scale(1.3);
}

.footer-contact {
    display: flex;
    flex-direction: column;
}

.footer-contact a {
    margin: 5px 0 10px 0;
    transition: 1s all;
    cursor: pointer;
}

.footer-contact a:hover {
    transform: scale(1.3);
}